h1{
  background-color: rgba(68, 68, 255, 0.966);
  width: 10vw;
  padding: 8px;
  margin: 50px;
  color: white;
}
body{
  background-color: white;
}

p { 
  font-size: 40px;
}

.image {
  width: 500px;
}
.container{
    display: flex;
     justify-content: space-between;
}
.buy{
    position:absolute; 
    top: 1.6rem;
    right: 0%;
    background-color:transparent;
    border:none;

}
.congratulations{
    width: 50rem;
}
.ddd{
    background-color: white;
    
}
